
/infra/.terraform
*.pyc
*.pyc
/infra/src/helpers/__pycache__
infra/src/helpers/.DS_Store
/infra/builds
/infra/builds
/infra/builds
infra/.DS_Store
infra/src/.DS_Store
.DS_Store
/infra/src/.idea
infra/src/.venv
infra/src/helpers/__pycache__/utilities.cpython-312.pyc
infra/src/myenv
infra/src/.vscode
/infra/src/helpers/__pycache__
infra/src/helpers/__pycache__/